.background-gray {
  background-color: #161618;
}

.background-orange {
  background-color: #ee4d2e !important;
}

.background-discord {
  background-color: #7289da !important;
}

.background-gebannt {
  background-color: #444444 !important;
}

.text-orange {
  color: #ee4d2e;
}

.text-primary {
  color: #f2f5f4;
}

.text-secondary {
  color: #888888;
}

a {
  color: #75c0c7;
}

.scrollspy-indent {
  margin-left: 20px !important;
}

.pushpin {
  right: 50px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

main {
  flex: 1 0 auto;
}

.collapsible {
  border: none;
}

.collapsible-header, .collapsible-body {
  border-color: black;
}

.collapsible-header i {
  margin-left: 15%;
}

iframe{
  border: none;
}

.wrapper {
  height: 15vw !important;
  width: 30vw !important;
  overflow: hidden;
  padding: 0px !important;
  margin: 10px !important;
}

@media (max-width: 1369px) and (min-width: 565px){
  .wrapper {
    height: 20vw !important;
    width: 40vw !important;
  }
}

@media (max-width: 564px) {
  .wrapper {
    height: 40vw !important;
    width: 80vw !important;
  }
}

