<footer>
  <div class="footer-copyright" style="height: 30px;">
    <div class="container">
      <a class="text-secondary">© 2020 z0cken.com</a>
      <a href="/impressum.html" class="text-secondary right">Impressum</a>
      <a class="text-secondary right">&#160;|&#160;</a>
      <a href="/datenschutz.html" class="text-secondary right"> Datenschutz</a>
    </div>
  </div>
</footer>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/assets/js/materialize.js"></script>

<!--  AutoInit all Materialize Elements -->
<script>
  M.AutoInit();
</script>
