
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta
    name="viewport"
    content="width=device-width"
  />
  <title>z0cken {{page.title}}</title>
  <link rel="icon" href="/resources/z0cken_small.png"/>
  <!-- CSS  -->
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons&display=swap"
    rel="stylesheet"
  />
  <link
    href="{{ site.baseurl }}/assets/css/materialize.css"
    type="text/css"
    rel="stylesheet"
    media="screen,projection"
  />
  <link
    href="{{ site.baseurl }}/assets/css/pr0gramm.css"
    type="text/css"
    rel="stylesheet"
    media="screen,projection"
  />
