<link
  href="{{ site.baseurl }}/assets/css/navbar.css"
  type="text/css"
  rel="stylesheet"
  media="screen,projection"
/>

<div>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <nav class="nav-extended background-orange">
    <div class="nav-wrapper">
      <a href="{{ site.baseurl }}/" class="center brand-logo">
        <img
          class="hide-on-small-only"
          height="70"
          src="{{ site.baseurl }}/resources/z0cken.png"
        />
        <img
          class="hide-on-med-and-up"
          height="62"
          src="{{ site.baseurl }}/resources/z0cken.png"
        />
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >
      <!-- Navbar - Copy to Sidenav  [1] -->
      <ul id="nav-mobile" style="font-weight: bold;" class="left hide-on-med-and-down">
        <li><a href="{{ site.baseurl }}/">Übersicht</a></li>
        <li>
          <a target="_blank" href="https://discord.com/invite/F2EeJFY"
            >Discord</a
          >
        </li>
        <li><a href="{{ site.baseurl }}/verification">Verify</a></li>
        <li><a href="{{ site.baseurl }}/about">Was ist z0cken?</a></li>
      </ul>
      <!-- End of Navbar -->
      <button
        id="sideswap"
        class="btn-floating background-gray halfway-fab hide-on-med-and-down btn-small right tooltipped"
        data-position="bottom"
        data-tooltip="Swap"
      >
        <i class="material-icons">swap_horiz</i>
      </button>
    </div>
    <div id="tab-list" class="nav-content hide-on-med-and-down left">
      <ul class="tabs no-autoinit tabs-transparent">
        <!-- Tabslist - Copy to Sidenav [2] -->
        <li class="tab">
          <a target="_self" id="minecraft" href="{{ site.baseurl }}/minecraft"
            >Minecraft</a
          >
        </li>
        <li class="tab">
          <a
            target="_self"
            id="lebenimholz"
            href="{{ site.baseurl }}/lebenimholz"
            >Leben Im Holz</a
          >
        </li>
        <li class="tab">
          <a target="_self" id="event" href="{{ site.baseurl }}/event">Event</a>
        </li>
        <li class="tab">
          <a target="_self" id="CSGO" href="{{ site.baseurl }}/CSGO">CS:GO</a>
        </li>
        <li class="tab">
          <a target="_self" id="terraria" href="{{ site.baseurl }}/terraria"
            >Terraria</a
          >
        </li>
        <li class="tab">
          <a
            target="_self"
            id="elitedangerous"
            href="{{ site.baseurl }}/elitedangerous"
            >Elite Dangerous</a
          >
        </li>
        <li class="tab">
          <a
            target="_self"
            id="starcitizen"
            href="{{ site.baseurl }}/starcitizen"
            >Star Citizen</a
          >
        </li>
        <li class="tab">
          <a target="_self" id="garrysmod" href="{{ site.baseurl }}/garrysmod"
            >Garry's Mod</a
          >
        </li>
        <li class="tab">
          <a
            target="_self"
            id="teamfortress"
            href="{{ site.baseurl }}/teamfortress"
            >Team Fortress</a
          >
        </li>
        <!-- End of Tabslist -->
      </ul>
    </div>
  </nav>

  <!-- Sidenav -->
  <ul class="sidenav background-gray text-primary" id="mobile-demo">
    <!-- Insert here from Navbar [1] -->
    <li><a href="{{ site.baseurl }}/">Übersicht</a></li>
    <li>
      <a target="_blank" href="https://discord.com/invite/F2EeJFY">Discord</a>
    </li>
    <li><a href="{{ site.baseurl }}/verification">Verify</a></li>
    <li><a href="{{ site.baseurl }}/about">Was ist z0cken?</a></li>

    <li><div class="divider"></div></li>
    <div class="text-secondary">
      <!-- Insert here from Navbar [2] -->
      <li class="tab">
        <a target="_self" id="minecraft" href="{{ site.baseurl }}/minecraft"
          >Minecraft</a
        >
      </li>
      <li class="tab">
        <a target="_self" id="lebenimholz" href="{{ site.baseurl }}/lebenimholz"
          >Leben Im Holz</a
        >
      </li>
      <li class="tab">
        <a target="_self" id="event" href="{{ site.baseurl }}/event">Event</a>
      </li>
      <li class="tab">
        <a target="_self" id="CSGO" href="{{ site.baseurl }}/CSGO">CS:GO</a>
      </li>
      <li class="tab">
        <a target="_self" id="terraria" href="{{ site.baseurl }}/terraria"
          >Terraria</a
        >
      </li>
      <li class="tab">
        <a
          target="_self"
          id="elitedangerous"
          href="{{ site.baseurl }}/elitedangerous"
          >Elite Dangerous</a
        >
      </li>
      <li class="tab">
        <a target="_self" id="starcitizen" href="{{ site.baseurl }}/starcitizen"
          >Star Citizen</a
        >
      </li>
      <li class="tab">
        <a target="_self" id="garrysmod" href="{{ site.baseurl }}/garrysmod"
          >Garry's Mod</a
        >
      </li>
      <li class="tab">
        <a
          target="_self"
          id="teamfortress"
          href="{{ site.baseurl }}/teamfortress"
          >Team Fortress</a
        >
      </li>
    </div>
  </ul>
</div>
<script src="{{ site.baseurl }}/assets/js/navbar.js"></script>
