<div>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider"></li>
    <li><a href="#!">three</a></li>
  </ul>
  <nav class="nav-extended background-orange">
    <div class="nav-wrapper">
      <a href="https://www.z0cken.com" class="center brand-logo">
        <img
          class="hide-on-small-only"
          height="70"
          src="../resources/z0cken.png"
        />
        <img
          class="hide-on-med-and-up"
          height="62"
          src="../resources/z0cken.png"
        />
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/index.html">Übersicht</a></li>
        <li>
          <a target="_blank" href="https://discord.com/invite/F2EeJFY"
            >Discord</a
          >
        </li>
        <li><a href="/verification/index.html">Verify</a></li>
      </ul>
    </div>
    <div class="nav-content right">
      <ul class="tabs no-autoinit tabs-transparent">
        <li class="tab">
          <a target="_self" id="minecraft" href="/minecraft/index.html"
            >Minecraft</a
          >
        </li>
        <li class="tab">
          <a target="_self" id="lebenimholz" href="/lebenimholz/index.html"
            >Leben Im Holz</a
          >
        </li>
        <li class="tab">
          <a target="_self" id="event" href="/event/index.html">Event</a>
        </li>
        <li class="tab">
          <a target="_self" id="404" href="/404">Pimmel</a>
        </li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/index.html">Übersicht</a></li>
    <li>
      <a target="_blank" href="https://discord.com/invite/F2EeJFY">Discord</a>
    </li>
    <li><a href="/verification/index.html">Verify</a></li>
  </ul>
</div>

<script>
  var elements = [...document.querySelectorAll(".tab a")];
  var names = elements.map(el => el.id)
  for (pos = 0 ; pos < elements.length; pos++) {
    if (location.pathname.includes(names[pos])) {
      elements[pos].classList.add("active");
      document.getElementsByClassName("no-autoinit")[0].classList.remove("no-autoinit")
    }
  }
</script>
