{% for post in site.categories[include.category] %}
<div class="card post-card background-gebannt darken-1">
  <div class="card-content white-text">
    <span class="card-title"
      >{{ post.title }} {% for tag in post.tags %}
      <span class="new background-orange badge">{{tag}}</span>
      {% endfor %}
    </span>
    <p>{{ post.excerpt | strip_html }}</p>
  </div>
  <div class="card-action text-primary">
    <a href="{{ site.baseurl }}{{ post.url }}">
      Zum Beitrag
    </a>
    <span class="badge">vom {{post.date | date: '%d.%m.%Y'}}</span>
  </div>
</div>
{% endfor %}
