/* Use .post prefix for post styling */

.pots ul {
    list-style-type: circle !important;
}

.post li {
    list-style-type: circle !important;
}

.post a { 
    color:#ee4d2e; text-decoration: underline; 
}
