/* Use .post prefix for post styling */

.pots ul {
    list-style-type: circle !important;
}

.post li {
    list-style-type: circle !important;
}

.post a {
    text-decoration: underline; 
}
.post a:hover { 
    color:#ee4d2e !important; 
}

.post a:visited {
    text-decoration: none;
    color: #888888
}
