html, body {
    margin: 0 5vw;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

body {
    font-family: sans-serif;
    background: #161618;
    color: white;
}

a {
    color: #75c0c7;
}

a:hover {
    color: white;
}
