.background-gray {
  background-color: #161618;
}

.background-orange {
  background-color: #ee4d2e !important;
}

.background-discord {
    background-color: #7289DA !important;
}

.text-orange {
  color: #ee4d2e;
}

.text-primary {
  color: #f2f5f4;
}

.text-secondary {
  color: #888888;
}

a {
  color: #75c0c7;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
