<!DOCTYPE html>
<html lang="en">
  {% include header.html %}
  <body class="background-gray">
    {% include navbar.html %}
    <main>
      {%assign category = page.path | split: '/'%}
        <a class="btn-flat text-secondary" href="{{site.baseurl}}/{{category[0]}}" type="submit" name="action">
          <i class="material-icons left">keyboard_backspace</i>
          Zurück zur Organisation
        </a>
      <div class="container text-primary">
        <h2 class="center">{{ page.title }}</h2>
        {{ content }}
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
